:root {
    text-align: center;
    /* margin: 5px; */
    width:100%;
    background-color: rgb(65, 64, 64);
}

#map {
    height: 600px;
    width: 96%;
    display: block;
    left: 1em;
  }

html { font-size: 62.5%; }
body { font-size: 1em;}

@media (max-width: 300px) {
    html { font-size: 70%; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}

header a{
    font-size: 2em;
    text-align: center;
    font-family: arial;
    color: green;
    text-decoration: none;
}

nav {
    background-color: grey;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    max-width: 100%;
}

nav ul li a {
    color: yellowgreen;
    /* text-decoration: none; */
    font-size: 1em;
}

footer {
    background-color: rgb(22, 22, 22);
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.hours {
    margin-left: 10%;
}

h3 {
    color: yellowgreen;
}

.info {
    margin-right: 10%;
}

p {
    font-size: 0.75em;
    color: white;
}

