:root {
    text-align: center;
    margin: 5px;
    width: 95%;
}

header {
    font-size: 62px;
    text-align: center;
    font-family: arial;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
}