:root {
    text-align: center;
    /* margin: 5px; */
    width:100%;
    background-color: #DFB78C;
    font-family: "Cuprum", cursive;
    max-width: 100%;
}

html { font-size: 62.5%; }
body { font-size: 1em;}

header a{
    font-size: 2em;
    text-align: center;
    color: #AB6832;
    text-decoration: none;
    font-family: "Satisfy", cursive;
    -webkit-text-stroke: black 0.05px;
}

footer {
    background-color: #49281A;
    margin-top: 2vh;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.question1 p{
    font-size: 1.2em;
}

.hours {
    margin-left: 10%;
}

h3 {
    color: #AB6832;
}

.info {
    margin-right: 10%;
}

p {
    font-size: 0.75em;
    color: white;
}

header {
    color: #AB6832;
}

main p{
    color: black;
}

main #name {
    width: 30vw;
    height: 5vh;
    font-size: 18px;
}

main #color {
    width: 50px;
    height: 50px;
}

main .submit {
    width: 15vw;
    height: 5vh;
}

#extra {
    max-width: 30vw;
    max-height: 10vh;
}

footer a{
    color: rgb(67, 101, 253);
}

footer ul {
    list-style: none;
    color: white;
    text-align: left;
    font-size: 0.8em;
}

@media (max-width: 300px) {
    html { font-size: 70%; }
    .menu-images img { width: 100%; }
    main .submit { width: 20vw; height: 5vh; }
}

@media (max-width: 500px) {
    html { font-size: 80%; }
    .menu-images img { width: 100%; }
    main .submit { width: 25vw; height: 5vh; }
}

@media (max-width: 760px) {
    main .submit { width: 25vw; height: 5vh; }
    html { font-size: 120%; }
    main #name { max-width: 50%; }
}

@media (min-width: 761px) {
    main .submit { width: 15vw; height: 5vh; }
    html { font-size: 120%; }
    main #name { max-width: 20%; }
}

@media (min-width: 801px) {
    html { font-size: 120%; }
    main #name { max-width: 20%; }
    main .submit { max-width: 10%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}

@media (min-width: 2000px) {
    html { font-size: 300%; }
    main #color { width: 100px; height: 100px }
    main .submit { font-size: 20px; }
}