:root {
    text-align: center;
    /* margin: 5px; */
    width:100%;
    background-color: rgb(65, 64, 64);
    font-family: arial
}

html { font-size: 62.5%; }
body { font-size: 1em;}

header a{
    font-size: 2em;
    text-align: center;
    color: rgb(26, 173, 26);
    text-decoration: none;
}

footer {
    background-color: rgb(22, 22, 22);
    margin-top: 10px;
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.question1 p{
    font-size: 1.25em;
}

.hours {
    margin-left: 10%;
}

h3 {
    color: yellowgreen;
}

.info {
    margin-right: 10%;
}

p {
    font-size: 0.75em;
    color: white;
}

@media (max-width: 300px) {
    html { font-size: 70%; }
    .menu-images img { width: 100%; }
}

@media (max-width: 500px) {
    html { font-size: 80%; }
    .menu-images img { width: 100%; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
}

@media (min-width: 2000px) {
    html { font-size: 300%; }
}